

#Icon{
  position: relative;
  z-index:3;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 1s;
}

#Icon:hover{
 
  transform: scale(1.2);
  transition-property: transform;
  transition-duration: 1s;
}

#menu-title-tab {
  
  margin-top:5px;
  width: 0px;
  height: 45px;
  visibility: hidden;
  background-color: oldlace;
  opacity:0;
  position: absolute;
  left:20px;
  bottom:260px;
  z-index: 1;
  transition:  1s;
  transition-property: opacity, visibility,width;
  transition-duration: 0.6s, 0.6s,0.6s;
  transition-delay: 0.5s;
}

#Icon:hover + #opt #menu-title-tab,
#opt:hover #menu-title-tab{
  z-index: 1;
  visibility: visible;
  opacity:1;
  width:195px;
  transition-property: opacity, visibility,width;
  transition-duration: 0.5s, 0.5s,0.6s;
  
}
#opt{
  position: relative;
  bottom:55px
}

#rest-logo {
  visibility: hidden;
  position: absolute;
  margin-top:5px;
  z-index: 1;
  opacity:0;
  transform: translateX(100px);
  transition-property: opacity, visibility, transform;
  transition-duration: 1s, 1s, 1s;
  transition-delay: 0.5s;
}
#Icon:hover +#opt #rest-logo,
#opt:hover #rest-logo{
  
  visibility: visible;
  opacity:1;
  transform: translateX(60px);
  transition-property: opacity, visibility, transform;
  transition-duration: 0.5s, 0.5s, 1s;
  
}

#menu-link-tab{
  border-radius:10%;
  position: absolute;
  z-index:0;
  width: 200px;
  height: 270px;
  visibility: visible;
  
  opacity:0;
  top:30px;
  left:15px;
  transition: opacity 1s;
  transition-delay: 1s;
  
}

#Icon:hover ~#menu-link-tab{
  visibility: hidden;
  opacity:0;
  
}

#link-list {
  position:relative;
  
  left:16.3px;
  top:40px;
  width:180px;
  padding-top:20px;
  padding-right: 20px;
  background-color:oldlace;
  text-align:left;
  visibility: hidden;
  opacity:0;
  transform: translateY(-45px);
  transition-property: opacity, visibility, transform;
  transition-duration: 1s, 1s, 1s;
  
  

}
#Icon:hover +#opt #link-list,
#link-list:hover, #opt:hover #link-list{
  visibility: visible; 
  
  opacity:1;
  transform: translateY(-25px);
  transition-property: opacity, visibility, transform;
  transition-duration: 0.5s, 0.5s, 0.5s;
  transition-delay: 1.2s,1.2s,1.2s;
}


#list {
  position: relative;
  z-index: 1;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  padding-left: 50px;
  
}
#list a{
  text-decoration: none;
}


/* .menu_list {
    visibility: hidden;
    opacity: 0;
    transition-property: opacity, visibility;
    transition-duration: 0s, 0s;
    transition-delay: 0s, 0s;
    width: 310px;
    position: absolute;
    top: 40px;
    z-index: 10;
    background: #253a4eb5;
    left: 3%;
    min-height: 220px;
    opacity:0.5;
    height: 313px;
    text-align: left;
    padding: 2px 40px 0 50px;
    margin-top: 60px;
    border-radius: 25px;
  }

  .opt-menu:hover + .menu_list ,
.menu_list:hover{
    visibility: visible;
    opacity: 1;
    transition-duration: 0.5s, 0.5s;
    transition-delay: 0.3s, 0.3s;
  } */